#chickenPin {
    padding: 2em;
}

.myFooter {
    background: palegoldenrod;
    /*background: linear-gradient(palegoldenrod, transparent);*/
}

.myAbout {
    background: palegoldenrod;
}

.myDiv {
    /*background-color: #ddd;*/
    background-color: transparent;
    color: black;
    transition: 0.3s;
}

.textSemi{
    color: rgb(0,0,0,0.5);
}


.myImg {
    transition: 0.3s;
    transform: scale(0.9);
}

.myImg:hover {
    transition: 0.3s;
    transform: scale(1);
}

#sayHey {
    font-family: 'Poiret One', cursive;
}