
body {
  padding-top: 56px;
  font-family: 'Quicksand', sans-serif;
}

/*
#birds {
    display: block;
}*/

#birds {
    background: url(birds2.svg);
    background-size: contain;
    height: 400px;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    opacity: 0.1;
}

#intro {
    background: none;
    color: darkgray;
}

#hi{    
/*    font-family: 'Comfortaa', cursive;*/
/*    font-family: 'Roboto', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    color: #ffde22;
}

#splash{
    min-height: 100px;
    max-height: 350px;
    padding-bottom: 0px;
}