
body {
  padding-top: 56px;
  font-family: 'Quicksand', sans-serif;
}

#intro {
    background: none;
}

#subtitle {
    color: white;
    font-size: 1.7em;
    font-family: 'Rubik', sans-serif;
}

#splashpage {
    color: #ffde22;
    background: #ffde22;
    width: 100%;
}

#hi{    
    font-family: 'Rubik', sans-serif;
    background: #FF0080;
    max-width: 500px;
    color: white;
    
}


#birdsplash{
/*    min-height: 100px;*/
    margin-bottom: -12%;
    padding-bottom: 0px;
    max-height: 600px;
}

#hoverimg{
  background-image: url("birds4-03.svg");
  background-repeat: no-repeat;
/*  background-color: #cccccc;*/
  background-size: contain;
}

.workslink {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 3.5vw;
    
    text-shadow:

    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.workslink:hover {
  color: #ffd810;
  text-shadow: none;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

#worksheader {
    font-family: 'Rubik', sans-serif;
    color: #FF0080;
    font-size: 4em;
    
}

#workssubheader {
    font-family: 'Rubik', sans-serif;
    font-size: 4em;
    color: white;
    text-shadow:
        -1px -1px 0 #FF0080,  
         1px -1px 0 #FF0080,
        -1px  1px 0 #FF0080,
         1px  1px 0 #FF0080;
}

#workscontainer {
    padding-top: 20vh;
    padding-bottom: 10vh;
    padding-left: 0px;
}

#works {
    padding-bottom: 50vh;
}

#about {
    padding-bottom: 20vh;
/*    background: url(birds4-03.svg);*/
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
}

#contact {
/*    padding-bottom: 20vh;*/
/*    background: url(birds4-03.svg);*/
/*  height: 50vh;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
}

#aboutheader {
    font-family: 'Rubik', sans-serif;
    font-size: 4em;
    color: white;
    text-shadow:
        -1px -1px 0 #FF0080,  
         1px -1px 0 #FF0080,
        -1px  1px 0 #FF0080,
         1px  1px 0 #FF0080;
}

#contactheader {
    font-family: 'Rubik', sans-serif;
    font-size: 4em;
    color: white;
    text-shadow:
        -1px -1px 0 #FF0080,  
         1px -1px 0 #FF0080,
        -1px  1px 0 #FF0080,
         1px  1px 0 #FF0080;
}

/*
#block {
 margin-left: 0; 
padding-left: 0;
    z-index: -1;
}
*/
